* {
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Galien-Bold";
  src: url(fonts/Gilroy-Bold.woff);
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(fonts/Gilroy-Light.woff);
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(fonts/Gilroy-Bold.woff);
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url(fonts/Gilroy-Regular.woff);
}

body {
  margin: 0 auto;
  width: 1366px;
  position: relative;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 10;
  background-color: white;
}

.header__block {
  margin: 0 auto;
  max-width: 1366px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------------------- */

.burger-menu {
  width: 30px;
  height: 30px;
  right: 60px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.burger-menu__button {
  position: fixed;
  top: 10px;
  right: auto;
  z-index: 30;
  width: 80px;
  height: 80px;
}

.burger-menu__button:hover .burger-menu__lines {
  filter: brightness(0.7);
}

.burger-menu-active .burger-menu__button {
  position: fixed;
  top: 10px;
  right: -10px;
  z-index: 30;
  width: 40px;
  height: 40px;
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #356ead;
}

.burger-menu__lines {
  top: 50px;
  right: 50px;
  transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
  content: "";
  top: -8px;
}

.burger-menu__lines::after {
  content: "";
  top: 8px;
}

.burger-menu-active .burger-menu__button,
.burger-menu-active .burger-menu__lines {
  background-color: transparent;
}

.burger-menu-active .burger-menu__lines::before {
  top: 0;
  transform: rotate(-45deg);
  background-color: #fff;
}

.burger-menu-active .burger-menu__lines::after {
  top: 0;
  transform: rotate(45deg);
  background-color: #fff;
}

.burger-menu__nav {
  position: fixed;
  z-index: 20;
  display: flex;
  flex-flow: column;
  width: 394px;
  height: 100%;
  color: #fff;
  background-color: #5a98d0;
  overflow-y: auto; /* Возможность прокрутки по вертикали */
  right: -100%;
  text-decoration: none;
  transition: 0.5s;
  border-top-left-radius: 70px;
}

.burger-menu-active .burger-menu__nav {
  right: 0;
}

.burger-menu__summary-1 {
  margin-top: 100px;
  margin-left: 50px;
  font-family: "Gilroy-regular";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.burger-menu__summary {
  margin-top: 32px;
  margin-left: 50px;
  font-family: "Gilroy-regular";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.burger-menu__link {
  color: #fff;
  padding-left: 60px;
  font-family: "Gilroy-regular";
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.burger-menu__link:hover {
  filter: brightness(0.7);
}

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.burger-menu-active .burger-menu__overlay {
  display: block;
}

.burger-list {
  /* margin-top: 16px;
  margin-left: 20px; */
  padding: 0;
  transition: ease-in 0.5s;
}

.burger-menu-el {
  margin-top: 16px;
}

/* SUMMARY */

summary::-webkit-details-marker {
  display: none;
}
summary::-moz-list-bullet {
  list-style-type: none;
}
summary::marker {
  display: none;
}
summary {
  display: inline-block;
  padding: 0.3em 1.5em 0.3em 0.6em;
  font-size: 1.4em;
  cursor: pointer;
  position: relative;
}
summary:before {
  right: 0.3em;
  top: 0.4em;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=")
    no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  transition: transform 0.5s;
}
details[open] > summary:before {
  transform: rotateZ(90deg);
}
summary ~ * {
  padding: 0 1em 0 1em;
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
summary:focus {
  outline: 0;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0),
    inset 0 0 2px rgba(255, 255, 255, 0);
}
details {
  display: block;
  margin-bottom: 0.5rem;
}

/* First section */
.main_block {
  margin-top: 100px;
  height: 668px;
  background: linear-gradient(
    0deg,
    rgba(152, 195, 232, 0.2) 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}

.main_block_background {
  background-image: url(img/main_pic.svg);
  background-repeat: no-repeat;
  background-position-x: 655.92px;
  background-position-y: 35px;
}
.main_wrapper {
  margin-left: 195px;
}
.main_title {
  margin-top: 0;
  padding-top: 100px;
  width: 550px;
  font-family: "Galien-Bold";
  font-size: 56px;
  line-height: 74px;
  color: #1f3f68;
  letter-spacing: 0.04em;
}
.main_paragraph {
  margin-top: 32px;
  width: 420px;
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
}
.header__btn {
  margin-top: 71px;
  padding: 15px 48px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #5a98d0;
  border: none;
  box-shadow: 0 0 18px 5px rgba(16, 112, 177, 0.2);
  transition: 0.2s ease-out;
}

.header__btn:hover {
  background-color: #2681f7;
}

.logo {
  margin-top: 48px;
  padding-left: 83px;
}

.menu {
  margin-top: 56px;
  margin-right: 87px;
}

/* Second section */

.offer_section {
  position: relative;
  background-color: #fff;
  height: 1157px;
}

.offer_header {
  margin-top: 192px;
  margin-left: 213px;
  width: 358px;
  font-family: "Gilroy-Bold";
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}

.snippet_one {
  position: absolute;
  top: 0px;
  right: 213px;
  width: 380px;
  height: 525px;
  border-radius: 10px;
  box-shadow: 0 0 18px 13px rgba(16, 112, 177, 0.1);
}

.snippet_two {
  position: absolute;
  top: 294px;
  left: 293px;
  width: 380px;
  height: 525px;
  border-radius: 10px;
  box-shadow: 0 0 18px 13px rgba(16, 112, 177, 0.1);
}

.snippet_three {
  position: absolute;
  top: 625px;
  right: 213px;
  width: 380px;
  height: 525px;
  border-radius: 10px;
  box-shadow: 0 0 18px 13px rgba(16, 112, 177, 0.1);
}

.snippet_header {
  margin-top: 51px;
  margin-left: 48px;
  width: 290px;
  font-family: "Gilroy-Bold";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
}

.snipper_paragraph {
  margin-top: 16px;
  margin-left: 48px;
  width: 284px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 0.6;
  color: #1f3f68;
}

.snippet_link {
  display: inline-block;
  width: 140px;
  margin-top: 12px;
  margin-left: 48px;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  text-decoration: none;
  background-image: url(img/snippet_arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: 8px;
  transition: 0.2s ease-out;
}

.snippet_link:hover {
  background-position-x: 110px;
}

.snippet_image {
  margin-top: -22px;
  margin-left: 78px;
}

.snippet_image_two {
  margin-top: 48px;
  margin-left: 78px;
}

.snippet_image_three {
  margin-top: 49px;
  margin-left: 100px;
}

/* Projects section */

.projects {
  margin: 0 auto;
  width: 928px;
}

.projects_container {
  margin-top: 192px;
  display: flex;
}

.projects_header {
  width: 227px;
  margin-top: 11px;
  font-family: "Gilroy";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #1f3f68;
}

.projects_paragraph {
  width: 540px;
  margin-left: 93px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
}

.projects_board_big {
  margin-top: 96px;
  width: 940px;
  height: 424px;
  background-image: url(img/project_back.jpg);
  background-repeat: no-repeat;
}

.project_demo_header {
  margin-bottom: 0px;
  padding-top: 48px;
  padding-left: 560px;
  width: 350px;
  font-family: "Gilroy-Light";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.project_demo_paragraph {
  margin-top: 5px;
  margin-left: 662px;
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.8;
}

.project_list {
  margin-top: 89px;
  padding-left: 0;
  width: 940px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.project_item_one {
  width: 422px;
  height: 417px;
  background-image: url(img/sparklight.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.project_item_two {
  width: 422px;
  height: 417px;
  background-image: url(img/car-repetition.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.project_item_header_one {
  margin-top: 24px;
  margin-left: 32px;
  padding: 0;
  font-family: "Gilroy-Light";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.project_item_header_two {
  margin-top: 24px;
  margin-left: 32px;
  padding: 0;
  font-family: "Gilroy-Light";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.project_item_paragraph_one {
  margin-top: -45px;
  margin-left: 32px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.8;
}

.project_item_paragraph_two {
  margin-top: -45px;
  margin-left: 32px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.8;
}

/* Clients */

.clients {
  margin-top: 192px;
  width: 100%;
  height: 1566px;
  background-color: #5a98d0;
  border-top-left-radius: 200px;
}

.clinets_container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 96px;
  width: 860px;
}

.clintes_header {
  width: 570px;
  font-family: "Gilroy-regular";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.clients_paragraph {
  margin-left: 97px;
  font-family: "Gilroy-light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}

.clients_list_container {
  margin: 0 auto;
  width: 860px;
}

.client_list_first {
  display: flex;
  margin-top: 60px;
  list-style: none;
}

.client_list_second {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.client_item_top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 41px;
  margin-top: 41px;
  height: 100px;
  width: 200px;
  font-family: "Gilroy-regular";
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
  border-bottom: 1px solid #fff;
}

.client_item_top:not(:last-child) {
  border-right: 1px solid #fff;
}

.client_item_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 41px;
  margin-top: -57px;
  height: 100px;
  width: 200px;
  font-family: "Gilroy-regular";
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
  transform: translateX(-10px);
}

.client_item_bottom:not(:last-child) {
  border-right: 1px solid #fff;
}

.client_item_bottom:last-child {
  background-color: rgba(16, 112, 177, 0.4);
}

.client_link {
  font-family: "Gilroy-regular";
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
}

.clients-list__mobile {
  display: none;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 869px;
  width: 1270px;
  background-color: #316099;
  border-top-right-radius: 200px;
}

.footer_first_container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 411px;
  width: 1073px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer_header {
  margin-top: 91px;
  margin-left: 213px;
  width: 317px;
  height: 92px;
  font-family: "Gilroy-regular";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer_paragraph {
  margin-top: 32px;
  margin-left: 213px;
  width: 460px;
  height: 80px;
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.09em;
  color: #ffffff;
  opacity: 0.6;
}

.footer_button {
  margin-top: 180px;
  width: 270px;
  padding: 15px 48px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #5a98d0;
  border: none;
  box-shadow: 0 0 18px 5px rgba(16, 112, 177, 0.2);
  transition: 0.2s ease-out;
}

.footer_button:hover {
  background-color: #2681f7;
}

.footer_second_container {
  margin: 0 auto;
  display: flex;
  width: 1073px;
  height: 360px;
}

.footer_contacts {
  margin-top: 40px;
  margin-left: 70px;
  width: 300px;
  height: 400px;
}

.footer_abous-us-data {
  margin-left: 160px;
  width: 300px;
  height: 400px;
}

.footer_social-media-data {
  margin-left: 0;
  width: 300px;
  height: 400px;
}

.footer_data {
  margin-left: 0;
  list-style: none;
}

.footer_about {
  margin-left: 0px;
  padding: 0;
  font-family: "Gilroy-light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  list-style: none;
}

.footer_about_item {
  text-decoration: none;
}

.footer_about_item_link {
  color: #fff;
  text-decoration: none;
}

.footer_about_item_link:hover {
  text-decoration: underline;
}

.footer_about_item:not(:first-child) {
  margin-top: 16px;
}

.footer_social {
  padding: 0;
  list-style: none;
}

.footer_second_header {
  margin-left: 16px;
  height: fit-content;
  font-family: "Gilroy-regular";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer_third_header {
  margin-top: 96px;
  font-family: "Gilroy-regular";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer_elements {
  display: flex;
  align-items: center;
  margin-top: 0px;
  width: 264px;
  height: fit-content;
  font-family: "Gilroy-light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer_elements:first-child {
  margin-top: -45px;
}

.footer_elements:nth-child(2) {
  margin-top: -3px;
}

.first_column_header {
  display: flex;
  margin-left: 35px;
}

.footer_elements_space {
  display: inline-block;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.footer_letters {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer_social_item {
  font-family: "Gilroy-light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer_social_item__link {
  text-decoration: none;
  color: #fff;
}

.footer_social_item__link:hover {
  text-decoration: underline;
}

.footer_social_item:not(:first-child) {
  margin-top: 16px;
}

.footer_copyrights {
  margin-top: 30px;
  margin-left: 211px;
  font-family: "Gilroy-light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

@media (max-width: 480px) {
  * {
    max-width: 480px;
    list-style: none;
    box-sizing: border-box;
  }

  body {
    width: 100%;
  }

  /* Header */

  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;

    width: 100%;
    z-index: 10;
    background-color: #fff;
  }

  .header__block {
    margin: 0 auto;
    max-width: 480px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
  }

  .logo {
    margin: 0;
    padding-left: 35px;
  }

  .logo-img {
    height: 40px;
    width: 40px;
  }

  /* burger menu */

  .burger-menu {
    width: 30px;
    height: 30px;
    right: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .burger-menu__button {
    position: fixed;
    top: -15px;
    right: 0;
    z-index: 30;
    width: 80px;
    height: 80px;
  }

  .burger-menu__button:hover .burger-menu__lines {
    filter: brightness(0.7);
  }

  .burger-menu-active .burger-menu__button {
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 30;
    width: 40px;
    height: 40px;
  }

  .burger-menu__lines,
  .burger-menu__lines::after,
  .burger-menu__lines::before {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #356ead;
  }

  .burger-menu__lines {
    top: 50px;
    right: 35px;
    transform: translate(-50%, -50%);
  }

  .burger-menu__lines::before {
    content: "";
    top: -8px;
  }

  .burger-menu__lines::after {
    content: "";
    top: 8px;
  }

  .burger-menu-active .burger-menu__button,
  .burger-menu-active .burger-menu__lines {
    background-color: transparent;
  }

  .burger-menu-active .burger-menu__lines::before {
    top: 0;
    transform: rotate(-45deg);
    background-color: #fff;
  }

  .burger-menu-active .burger-menu__lines::after {
    top: 0;
    transform: rotate(45deg);
    background-color: #fff;
  }

  .burger-menu__nav {
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #5a98d0;
    overflow-y: auto; /* Возможность прокрутки по вертикали */
    text-decoration: none;
    transition: 0.5s;
    border-radius: 0%;
  }

  .burger-menu-active .burger-menu__nav {
    right: 0;
  }

  .burger-menu__summary-1 {
    margin-top: 100px;
    margin-left: 50px;
    font-family: "Gilroy-regular";
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }

  .burger-menu__summary {
    margin-top: 32px;
    margin-left: 50px;
    font-family: "Gilroy-regular";
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }

  .burger-menu__link {
    color: #fff;
    padding-left: 50px;
    font-family: "Gilroy-regular";
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    letter-spacing: 0.05em;
  }

  .burger-menu__link:hover {
    filter: brightness(0.7);
  }

  .burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 100px;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .burger-menu-active .burger-menu__overlay {
    display: block;
  }

  .burger-list {
    margin-top: 16px;
    margin-left: 20px;
    padding: 0;
  }

  .burger-menu-el {
    margin-top: 16px;
  }

  /* SUMMARY */

  summary::-webkit-details-marker {
    display: none;
  }
  summary::-moz-list-bullet {
    list-style-type: none;
  }
  summary::marker {
    display: none;
  }
  summary {
    display: inline-block;
    padding: 0.3em 1.5em 0.3em 0.6em;
    font-size: 1.4em;
    cursor: pointer;
    position: relative;
  }
  summary:before {
    right: 0.3em;
    top: 0.4em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=")
      no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;
    content: "";
    position: absolute;
    transition: transform 0.5s;
  }
  details[open] > summary:before {
    transform: rotateZ(90deg);
  }
  summary ~ * {
    padding: 0 1em 0 1em;
  }
  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }
  @keyframes sweep {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  summary:focus {
    outline: 0;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0),
      inset 0 0 2px rgba(255, 255, 255, 0);
  }
  details {
    display: block;
    margin-bottom: 0.5rem;
  }

  /* First section */
  .main_block {
    margin-top: 30px;
    width: 480px;
    height: 520px;
    background: linear-gradient(
      0deg,
      rgba(152, 195, 232, 0.2) 8.84%,
      rgba(152, 195, 232, 0) 31.12%
    );
  }

  .main_block_background {
    background-image: unset;
    background-repeat: no-repeat;
    background-position-x: 655.92px;
    background-position-y: 35px;
  }
  .main_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 35px;
    background-image: url(img/main_pic.svg);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position-x: 250px;
    background-position-y: 280px;
  }
  .main_title {
    margin-top: 0;
    padding-top: 90px;
    max-width: 410px;
    font-family: "Galien-Bold";
    font-size: 35px;
    line-height: 37px;
    text-align: center;
    color: #316099;
    letter-spacing: 0.04em;
  }
  .main_paragraph {
    margin-top: 22px;
    max-width: 410px;
    font-family: "Gilroy-Light";
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: black;
    opacity: 1;
  }

  .header__btn {
    margin-top: 82px;
    margin-left: 55px;
    width: 300px;
    padding: 15px 15px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #5a98d0;
    border: none;
    box-shadow: 0 0 18px 5px rgba(16, 112, 177, 0.2);
    transition: 0.2s ease-out;
  }

  .header__btn:hover {
    background-color: #2681f7;
  }

  .menu {
    margin-top: 56px;
    margin-right: 87px;
  }

  /* Second section */

  .offer_section {
    position: relative;
    background-color: #fff;
    height: 1850px;
  }

  .offer_header {
    margin-top: 40px;
    margin-left: 25px;
    width: 358px;
    font-family: "Gilroy-Bold";
    font-weight: 800;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #316099;
  }

  .snippet_one {
    position: absolute;
    top: 170px;
    right: 213px;
    left: 50px;
    width: 380px;
    height: 525px;
    border-radius: 10px;
    box-shadow: 0 0 18px 13px rgba(16, 112, 177, 0.1);
  }

  .snippet_two {
    position: absolute;
    top: 730px;
    left: 50px;
    width: 380px;
    height: 525px;
    border-radius: 10px;
    box-shadow: 0 0 18px 13px rgba(16, 112, 177, 0.1);
  }

  .snippet_three {
    position: absolute;
    top: 1290px;
    left: 50px;
    right: 213px;
    width: 380px;
    height: 525px;
    border-radius: 10px;
    box-shadow: 0 0 18px 13px rgba(16, 112, 177, 0.1);
  }

  .snippet_header {
    margin-top: 51px;
    margin-left: 48px;
    width: 290px;
    font-family: "Gilroy-Bold";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1f3f68;
  }

  .snipper_paragraph {
    margin-top: 16px;
    margin-left: 48px;
    width: 284px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    color: #1f3f68;
  }

  .snippet_link {
    display: inline-block;
    width: 140px;
    margin-top: 12px;
    margin-left: 48px;
    font-family: "Gilroy-Bold";
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5a98d0;
    text-decoration: none;
    background-image: url(img/snippet_arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-position-y: 8px;
    transition: 0.2s ease-out;
  }

  .snippet_link:hover {
    background-position-x: 110px;
  }

  .snippet_image {
    margin-top: -22px;
    margin-left: 78px;
  }

  .snippet_image_two {
    margin-top: 48px;
    margin-left: 78px;
  }

  .snippet_image_three {
    margin-top: 49px;
    margin-left: 100px;
  }

  /* projects section */

  .projects {
    margin: 0 auto;
  }

  .projects_container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .projects_header {
    width: 227px;
    margin-top: 11px;
    margin-left: 15px;
    padding: 0;
    font-family: "Gilroy";
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #1f3f68;
  }

  .projects_paragraph {
    width: 358px;
    margin-left: 50px;
    font-family: "Gilroy";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
  }

  .projects_board_big {
    margin-top: 40px;
    margin-left: 0px;
    width: 480px;
    height: 424px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* background-image: url(img/project_back.jpg);
    background-repeat: no-repeat; */
  }

  .project_demo_header {
    margin-bottom: 0px;
    padding-top: 25px;
    padding-left: 200px;
    width: 350px;
    font-family: "Gilroy-Light";
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .project_demo_paragraph {
    margin-top: 5px;
    margin-left: 225px;
    font-family: "Gilroy-Light";
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.8;
  }

  .project_list {
    margin-top: 40px;
    padding-left: 79px;
    width: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
  }

  .project_item_one {
    width: 322px;
    height: 317px;
    background-image: url(img/sparklight.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .project_item_two {
    margin-top: 30px;
    width: 322px;
    height: 317px;
    background-image: url(img/car-repetition.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .project_item_header_one {
    margin-top: 24px;
    margin-left: 32px;
    padding: 0;
    font-family: "Gilroy-Light";
    font-size: 24px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .project_item_header_two {
    margin-top: 24px;
    margin-left: 32px;
    padding: 0;
    font-family: "Gilroy-Light";
    font-size: 24px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .project_item_paragraph_one {
    margin-top: -45px;
    margin-left: 32px;
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.8;
  }

  .project_item_paragraph_two {
    margin-top: -45px;
    margin-left: 32px;
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.8;
  }

  /* Clients */

  .clients {
    margin-top: 90px;
    width: 480px;
    height: 1566px;
    background-color: #5a98d0;
    border-top-left-radius: 200px;
  }

  .clinets_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
    width: 860px;
  }

  .clintes_header {
    /* margin-left: 325px; */
    padding-left: 105px;
    width: 350px;
    font-family: "Gilroy-regular";
    font-size: 24px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .clients_paragraph {
    margin-left: 67px;
    width: 350px;
    font-family: "Gilroy-light";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.6;
  }

  .clients_list_container {
    margin: 0 auto;
    width: 480px;
    display: none;
  }

  .clients-list__mobile {
    display: block;
  }

  .clinets-list__mobile-tab {
    list-style: none;
    margin-left: 30px;
  }

  .clinets-list__mobile-el {
    font-family: "Gilroy-regular";
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #ffffff;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
  }

  .client-item__bottom-mobile {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    background-color: rgba(16, 112, 177, 0.4);
    border-bottom: none;
  }

  /* Footer section */

  .footer {
    position: absolute;
    top: 4650px;
    bottom: 0px;
    left: 0px;
    height: 1280px;
    width: 480px;
    background-color: #316099;
    border-top-right-radius: 200px;
  }

  .footer_first_container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: start;
    height: 611px;
    width: 480px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  .footer_header {
    margin-top: 0;
    margin-left: 25px;
    width: 317px;
    height: 92px;
    font-family: "Gilroy-regular";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .footer_paragraph {
    margin-top: 22px;
    margin-left: 55px;
    width: 350px;
    height: 80px;
    font-family: "Gilroy-Light";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.09em;
    color: #ffffff;
    opacity: 0.6;
  }

  .footer_button {
    margin-top: 15px;
    margin-left: 55px;
    width: 350px;
    padding: 15px 48px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #5a98d0;
    border: none;
    box-shadow: 0 0 18px 5px rgba(16, 112, 177, 0.2);
    transition: 0.2s ease-out;
  }

  .footer_button:hover {
    background-color: #0b3a74;
  }

  .footer_second_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 500px;
  }

  .footer_contacts {
    margin-top: 0;
    margin-left: 40px;
    width: 300px;
    height: 400px;
  }

  .footer_abous-us-data {
    margin-top: 27px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
  }

  .footer_social-media-data {
    position: absolute;
    top: 961px;
    left: 200px;
    margin-left: 80px;
    margin-bottom: 0;
    padding: 0;
    width: 200px;
    height: 200px;
  }

  .footer_data {
    margin-left: 0;
    list-style: none;
  }

  .footer_about {
    margin-left: 0px;
    padding: 0;
    font-family: "Gilroy-light";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    list-style: none;
  }

  .footer_about_item {
    text-decoration: none;
  }

  .footer_about_item_link {
    color: #fff;
    text-decoration: none;
  }

  .footer_about_item_link:hover {
    text-decoration: underline;
  }

  .footer_about_item:not(:first-child) {
    margin-top: 0px;
  }

  .footer_social {
    padding: 0;
    list-style: none;
  }

  .footer_second_header {
    margin-left: 16px;
    height: fit-content;
    font-family: "Gilroy-regular";
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  .footer_third_header {
    margin-top: 25px;
    font-family: "Gilroy-regular";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .footer_elements {
    display: flex;
    align-items: center;
    margin-top: 0px;
    width: 264px;
    height: fit-content;
    font-family: "Gilroy-light";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .footer_elements:first-child {
    margin-top: -45px;
  }

  .footer_elements:nth-child(2) {
    margin-top: -3px;
  }

  .first_column_header {
    display: flex;
    margin-left: 35px;
  }

  .footer_elements_space {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
  }

  .footer_letters {
    font-family: "Gilroy";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .footer_social_item {
    font-family: "Gilroy-light";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .footer_social_item__link {
    text-decoration: none;
    color: #fff;
  }

  .footer_social_item__link:hover {
    text-decoration: underline;
  }

  .footer_social_item:not(:first-child) {
    margin-top: 0px;
  }

  .footer_copyrights {
    margin-top: 100px;
    margin-left: 80px;
    font-family: "Gilroy-light";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.4;
  }
}
